.Detail {
  padding: 0;
  @include breakpoint(768) {
    padding: 0 40px;
  }
}

.BackToCollection {
  display: block;

  .BackToCollection__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    text-decoration: none;
    background-color: transparent;
    border-bottom: 1px solid $lines;
    cursor: pointer;
    color: inherit;

    @include breakpoint(768px) {
      border: 0;
    }
    @include breakpoint(1024px) {
      display: inline-block;
      padding: 10px;
      margin-left: -10px;
      height: 50px;

      &:hover {
        color: #606060;
      }
    }
  }
  svg {
    margin-right: 10px;
    position: relative;
    top: -10px;
    @include breakpoint(768px) {
      top: 0;
    }
    @include breakpoint(1024px) {
      top: 4px;
    }
  }
  .BackToCollection__label {
    position: relative;
    top: -10px;
    @include f-serif;
    font-size: rem(15px);
    b {
      font-weight: 500;
    }
    position: relative;
    top: -10px;

    @include breakpoint(768px) {
      top: 0;
    }
  }
}

.DetailMainImage {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  .has-portrait-poster & {
    margin-bottom: 40px;
  }
}
.DetailMainImage__fig {
  flex: 1 1 auto;
  @include breakpoint($medium-up) {
    width: 100%;
    height: 100%;
  }
  padding: 0;
  margin: 0;
  position: relative;

  &.has-no-image {
    background-color: #f1f1f4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include f-sans;
    font-size: rem(13px);
    color: rgb(109, 109, 109);
  }
}
.DetailMainImage__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.DetailMainImage__img {
  width: 100%;
  @include breakpoint($medium-up) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  display: block;
  z-index: 1;
  object-fit: contain;
  object-position: right top;
}
.DetailMainImage__toolbar {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  @include breakpoint($medium-up) {
    flex-flow: column nowrap;
    top: 20px;
    bottom: unset;
    right: -25px;
    left: unset;
    transform: unset;
  }
  z-index: 1;
  color: black;
}

.DetailMainImage__button {
  height: 50px;
  width: 50px;

  margin: 0 15px 0 0;
  @include breakpoint($medium-up) {
    margin: 0 0 15px 0;
  }
  padding: 0;
  border-radius: 50%;
  border: 1px solid $lines;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;

  &.DetailMainImage__button--magnifying-glass:hover {
    color: $blue-medium;
    border-color: $blue-medium;
  }
  &.DetailMainImage__button--download:hover {
    color: $green-medium;
    border-color: $green-medium;
  }
  &.DetailMainImage__button--selection:hover {
    color: $heart-red;
    border-color: $heart-red;
  }

  svg {
    display: block;
    flex: 0 0 auto;
  }
}
// .DetailMainImage__aspect-ratio-container {
//   position: static;
// }
.DetailMainImage__aspect-ratio-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
}
.DetailMainImage__button--selection {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 0;
  background-color: transparent;
  svg {
    position: relative;
    top: 1px;
  }
}
@media (hover: hover) {
  .DetailMainImage__fig .DetailMainImage__button--selection {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    svg {
      // Push down temporarily. --aspect-ratio value has been
      // overly rounded because was calculated from thumbnail images :(
      // Should be fixed in next data import.
      top: 3px;
    }
  }
  .DetailMainImage__fig:hover .DetailMainImage__button--selection {
    opacity: 1;
  }
}

.DetailImageList {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;

    &:first-child {
      padding-left: 30px;
      @include breakpoint(1025px) {
        padding-left: 0;
      }
    }
    &:last-child {
      padding-right: 30px;
      @include breakpoint(1025px) {
        padding-right: 0;
      }
    }
  }
  img {
    display: block;
    cursor: pointer;
  }
  button {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    cursor: pointer;
  }
}

.DetailImageList--spacer {
  @include breakpoint(1024px) {
    flex: 0 0 auto;
    display: block;
    width: calc(((100vw - (40px * 13)) / 12) + 40px);
    height: 40px;
  }
}

.DetailTitle {
  margin: 23px 0 30px;
  padding: 0;
  @include f-serif;
  font-weight: normal;
  font-size: rem(25px);
  line-height: rem(35px);
  text-align: center;
  @include breakpoint(768px) {
    margin: 0;
    font-size: rem(30px);
    line-height: rem(50px);
    text-align: left;
  }
}

.DetailTitle__denomination,
.DetailTitle__title_or_designation {
  display: block;
}

.DetailData {
  margin: 0;
  padding: 0;
}
.DetailData__unit,
.DetailData__label,
.DetailData__datum,
.DetailInfo__unit,
.DetailInfo__label,
.DetailInfo__datum {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.DetailData__unit,
.DetailInfo__unit {
  padding-bottom: 15px;
  border-bottom: 1px solid $lines;
  margin-bottom: 11px;
  @include f-sans;
  font-size: rem(15px);
  line-height: rem(22px);

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.DetailData__label,
.DetailInfo__label {
  font-size: rem(13px);
  color: #828282;
}
.DetailData__columns {
  display: flex;
  flex-flow: row wrap;
  .DetailData__unit {
    flex: 1 1 calc((100% - 20px) / 2);
    width: calc((100% - 20px) / 2);
    &:nth-child(odd) {
      margin-right: 20px;
      @include breakpoint(1024px) {
        margin-right: 0;
      }
    }
    @include breakpoint(1024px) {
      display: block;
      width: auto;
    }
  }

  @include breakpoint($medium-up) {
    display: block;
  }
}

.Detail__left-zone {
  @include breakpoint($medium-up) {
    position: fixed;
    top: 0;
    left: 40px;
    padding-top: 20px;
    box-sizing: border-box;
  }
}
.Detail__right-zone {
  margin: 40px 30px;
  @include breakpoint(768px) {
    margin-top: 109px;
  }
  .DetailTitle {
    margin-bottom: 30px;
  }
}
.Detail__right-zone-dblcol {
  width: 100%;
  position: relative;
  @include breakpoint(1025px) {
    display: flex;
    flex-flow: row nowrap;
  }
  .DetailData {
    // @include breakpoint(768px) {
    //   flex: 0 0 auto;
    //   width: calc((100% - 20px) / 2);
    //   margin-right: 20px;
    // }
    @include breakpoint(1025px) {
      flex: 0 0 auto;
      width: calc((((100% - (40px * 5)) / 6) * 2) + (1 * 40px));
      margin-right: 40px;
    }
  }
  .DetailInfo {
    margin: 0;
    padding: 0;
    // @include breakpoint(768px) {
    //   flex: 0 0 auto;
    //   width: calc((100% - 20px) / 2);
    // }
    @include breakpoint(1025px) {
      flex: 1 1 auto;
      padding-right: 40px;
    }
  }
}

.Detail__left-zone {
  .DetailImageList {
    flex: 0 0 80px;
    display: flex;
  }
  @include breakpoint($medium-up) {
    height: 100vh;
    display: flex;
    .BackToCollection {
      flex: 0 0 45px;
    }
    .DetailMainImage {
      flex: 1 1 auto;
    }
  }
}

.Detail.has-landscape-poster {
  .Detail__left-zone {
    @include breakpoint($medium-up) {
      width: calc((((100% - (40px * 11)) / 12) * 6) + (6 * 40px));
    }
    flex-flow: column nowrap;
    .BackToCollection {
      flex: 0 0 105px;
      height: 105px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
    .DetailMainImage {
      flex: 1 1 auto;
      // margin-top: 20px;
    }
    .DetailImageList {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin-top: 40px;
      margin-bottom: 60px;
      margin-left: 0;
      margin-right: 0;
      @include breakpoint(768px) {
        margin-top: 0;
        margin-top: 60px;
      }
      @include breakpoint(1024px) {
        margin-top: 30px;
        margin-left: 0;
        justify-content: flex-end;
      }
      li {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
          @include breakpoint($medium-up) {
            margin-left: 10px;
          }
        }
      }
      img {
        height: 80px;
      }
    }
  }
  .Detail__right-zone {
    @include breakpoint($medium-up) {
      margin-left: calc((((100% - (40px * 11)) / 12) * 7) + (7 * 40px));
    }
  }
}

.Detail.has-portrait-poster {
  .Detail__left-zone {
    @include breakpoint($medium-up) {
      width: calc((((100% - (40px * 11)) / 12) * 6) + (5 * 40px));
      flex-flow: row nowrap;
      padding-top: 125px;
    }
    .BackToCollection {
      flex: 0 0 105px;
      height: 105px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      @include breakpoint($medium-up) {
        position: absolute;
        top: 20px;
        left: 0;
      }
    }
    .DetailMainImage {
      flex: 1 1 auto;
    }
    .DetailImageList {
      width: auto;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      margin-right: 30px;
      margin-left: 30px;
      @include breakpoint(1024px) {
        width: calc((((100% - (40px * 6)) / 6) * 2) + (1 * 40px));
        flex: 0 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        flex-flow: column nowrap;
        justify-content: flex-start;
      }
      li {
        margin-bottom: 10px;
        margin-right: 10px;
        @include breakpoint(1024px) {
          margin-right: 0;
        }
      }
      img {
        height: 80px;
        width: auto;
        @include breakpoint(1024px) {
          width: 80px;
          height: auto;
        }
      }
    }
  }
  .Detail__right-zone {
    @include breakpoint($medium-up) {
      margin-left: calc((((100% - (40px * 11)) / 12) * 6) + (6 * 40px));
    }
  }
}

.DetailZoomed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  @include breakpoint(1025px) {
    display: flex;
    flex-flow: row nowrap;
  }

  background-color: #fff;
}
.DetailZoomed__fig {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include breakpoint(1025px) {
    flex: 1 1 auto;
    &.has-thumbnails {
      max-width: calc(100% - 225px);
    }
  }

  img {
    display: block;
  }
}
.DetailZoom__thumbails {
  display: none;
  @include breakpoint(1025px) {
    display: block;
  }
  flex: 0 0 auto;
  width: 225px;
  list-style: none;
  margin: 0;
  padding: 60px 0 0 0;
  // filter: grayscale(1);
  overflow-x: hidden;
  overflow-y: auto;

  li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  button {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 10px;
    margin: 0;
    -webkit-appearance: none;
    cursor: pointer;
  }
  img {
    display: block;
    width: 145px;
    margin: 0 auto;
  }
}
.DetailZoomed__toolbar {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  @include breakpoint(1025px) {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .DetailZoomed__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $lines;
    color: #000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:first-child {
      margin-right: 20px;
    }

    &:hover {
      border-color: #000;
    }
    &.DetailZoomed__button--zoom-in,
    &.DetailZoomed__button--zoom-out {
    }

    &.DetailZoomed__button--prev,
    &.DetailZoomed__button--next {
      position: absolute;
      top: 0;
      left: 19px;
      background-color: transparent;
      border: none;
      @include breakpoint(1025px) {
        display: none;
      }
    }
    &.DetailZoomed__button--next {
      left: auto;
      right: 19px;
    }
  }
}
.DetailZoom__close {
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background-color: black;
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;

  &:hover {
    // background: rgba(255, 255, 255, 0.2);
    & path {
      stroke-width: 2px;
    }
  }
}

.DetailDownloadModal {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.DetailDownloadModal__window {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 1 1 auto;
  box-sizing: border-box;
  position: relative;
  background-color: #40b877;
  color: #fff;
  -webkit-font-smoothing: antialias;
  @include f-sans;
  font-size: rem(15px); // Reduced to accomodate long email address.
  line-height: rem(21px);
  width: auto;
  margin: 15px;
  padding: 15px;

  @include breakpoint(375px) {
    font-size: rem(18px);
    line-height: rem(25px);
  }
  @include breakpoint(768px) {
    padding: 50px;
    margin: 70px;
  }
  @include breakpoint($small-up) {
    max-width: 826px;
    max-height: 550px;
    padding: 50px;
    margin: 100px 0;
  }

  header {
    width: 100%;
    margin-bottom: 30px;
    b,
    span {
      display: block;
    }
    a {
      color: #000;
      text-decoration: none;
      border-bottom: 1px dotted #000;
    }
  }

  b {
    font-weight: normal;
    color: #000;
  }
  button {
    @include breakpoint(769px) {
      position: absolute;
      right: 40px;
      bottom: 40px;
    }
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #000;
    @include f-sans;
    font-size: rem(20px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }
}
.DetailDownloadModal__button-holder {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.DetailDownloadModal__scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.DetailDownloadModal__2cols {
  @include breakpoint(769px) {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    p {
      flex: 0 0 calc(50% - 30px);
      margin: 0;
      &:first-child {
        margin-right: 30px;
      }
      span {
        display: block;
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black;
  }
}
.DetailDownloadModal__headline {
  display: block;
  margin-bottom: 18px;
  @include breakpoint(769px) {
    display: inline;
    margin-bottom: 0px;
  }
}
.DetailDownloadModal__conditions-label {
  display: block;
}

.DetailInfo__sharing {
  color: #888;
  margin-top: 20px;

  a,
  button {
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
      color: #1a1a1a;
    }
  }
}
.DetailInfo__sharing-copied {
  display: inline-block;
  position: relative;
  top: -2px;
  @include f-sans;
  font-size: 13px;
  color: #1a1a1a;
  opacity: 0;
  transition: opacity 0.2s linear;

  &.is-visible {
    opacity: 1;
  }
}
