/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/bootstrap.js
/public/js/vendor.js
/public/js/manifest.js
/public/js/bootstrap.js.LICENSE
/public/js/vendor.js.LICENSE
/public/mix-manifest.json
/public/media
/public/sitemap*
/storage/*.key
/storage/cache
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/provisioning/dev/db/mn.lab.database.dump
