.Collection {
  background-color: #fff;
}

.Collection__result {
  min-height: 100vh;
  @include breakpoint($xsmall) {
    margin-left: 15px;
    margin-right: 15px;
  }
  @include breakpoint($small-up) {
    margin-left: 40px;
    margin-right: 40px;
  }
  @include breakpoint(1025px) {
    margin-left: 288px;
  }
}
.FilterPanelDesktop.is-open ~ .Collection__result {
  filter: grayscale(1);
}

@mixin collection-spacer {
  content: "";
  display: block;
  height: 40px;
  width: 100%;
}
.Collection__cell {
  display: block;
  text-decoration: none;
  color: $dark-gray;
  cursor: pointer;
  @include breakpoint($xsmall) {
    width: calc((100vw - (15px * 3)) / 2); // 2 columns, 15px gutter
  }
  @include breakpoint($small-up) {
    width: calc((100vw - (40px * 4)) / 3); // 3 columns, 40px gutters

    &:nth-child(2)::before {
      @include collection-spacer;
    }
  }
  @include breakpoint(1025px) {
    width: calc((100vw - 288px - (40px * 3)) / 3); // 3 columns, 40px gutters
    &:nth-child(2)::before {
      @include collection-spacer;
    }
  }
  @include breakpoint($large) {
    width: calc((100vw - 288px - (40px * 4)) / 4); // 4 columns, 40px gutters
    &:nth-child(2)::before,
    &:nth-child(4)::before {
      @include collection-spacer;
    }
  }
  @include breakpoint($xlarge) {
    width: calc((100vw - 288px - (40px * 5)) / 5); // 5 columns, 40px gutters
    &:nth-child(2)::before,
    &:nth-child(4)::before {
      @include collection-spacer;
    }
  }
  @include breakpoint($xxlarge) {
    width: calc((100vw - 288px - (40px * 6)) / 6); // 6 columns, 40px gutters
    &:nth-child(2)::before,
    &:nth-child(4)::before,
    &:nth-child(6)::before {
      @include collection-spacer;
    }
  }

  &:hover .Collection__cell-title,
  &:hover .Collection__cell-authors {
    color: #888;
  }
}
.Collection__image-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}
.Collection__image-container--empty {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #f1f1f4;
  position: relative;

  &:before {
    content: "Objet sans image";
    @include f-sans;
    font-size: rem(13px);
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6d6d6d;
  }
}
.Collection__image-selection-button {
  display: block;
  padding: 15px;
  border: 0;
  background-color: transparent;
  color: #000;
  font-size: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.15s ease-in-out;

  @media (hover: hover) {
    opacity: 0;
    .Collection__cell:hover & {
      opacity: 1;
    }
    &:hover {
      color: $heart-red;
    }
  }
}
.Collection__remove-button {
  transition: opacity 0.15s ease-in-out;

  @media (hover: hover) {
    opacity: 0;
    .Collection__cell:hover & {
      opacity: 1;
    }
  }
}
.Collection__cell img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f4;

  .is-ssr & {
    position: static;
    width: 100%;
    height: auto;
  }
}
.Collection__cell-label {
  margin-top: 20px;
  padding-bottom: 25px;
}
.Collection__cell-title {
  display: inline;
  margin: 0;
  padding: 0;
  @include f-sans;
  font-size: rem(13px);
  line-height: rem(18px);
  font-weight: 600;
  color: inherit;

  &:empty {
    display: none;
  }
}
.Collection__cell-authors {
  display: inline;
  @include f-sans;
  font-size: rem(13px);
  line-height: rem(20px);
  font-weight: normal;
  color: inherit;
}

.Collection__scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1;
}

.Collection__spinner {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  @include breakpoint($medium-up) {
    bottom: 80px;
    right: calc((100vw - 248px) / 2);
  }
}
