.Collection {
  background-color: #fff;
}

.has-uninitialized-BetaWelcome .Collection {
  position: relative;
  top: calc(100vh - 256px);
  padding-top: 40px;
}
.has-initialized-BetaWelcome .Collection {
  position: static;
  padding-top: 0;
}

.Collection__result {
  min-height: 100vh;
  @include breakpoint($xsmall) {
    margin-left: 15px;
    margin-right: 15px;
  }
  @include breakpoint($small-up) {
    margin-left: 40px;
    margin-right: 40px;
  }
  @include breakpoint($medium-up) {
    margin-left: 288px;
  }
}
.FilterPanelDesktop.is-open ~ .Collection__result {
  filter: grayscale(1);
}

@mixin collection-spacer {
  content: "";
  display: block;
  height: 40px;
  width: 100%;
}
.Collection__cell {
  display: block;
  text-decoration: none;
  color: inherit;
  @include breakpoint($xsmall) {
    width: calc((100vw - (15px * 3)) / 2); // 2 columns, 15px gutter
  }
  @include breakpoint($small) {
    width: calc((100vw - (40px * 4)) / 3); // 3 columns, 40px gutters

    &:nth-child(2)::before {
      @include collection-spacer;
    }
  }
  @include breakpoint($medium) {
    width: calc((100vw - 288px - (40px * 3)) / 3); // 3 columns, 40px gutters
    &:nth-child(2)::before {
      @include collection-spacer;
    }
  }
  @include breakpoint($large) {
    width: calc((100vw - 288px - (40px * 4)) / 4); // 4 columns, 40px gutters
    &:nth-child(2)::before,
    &:nth-child(4)::before {
      @include collection-spacer;
    }
  }
  @include breakpoint($xlarge) {
    width: calc((100vw - 288px - (40px * 5)) / 5); // 5 columns, 40px gutters
    &:nth-child(2)::before,
    &:nth-child(4)::before {
      @include collection-spacer;
    }
  }
  @include breakpoint($xxlarge) {
    width: calc((100vw - 288px - (40px * 6)) / 6); // 6 columns, 40px gutters
    &:nth-child(2)::before,
    &:nth-child(4)::before,
    &:nth-child(6)::before {
      @include collection-spacer;
    }
  }

  &:hover .Collection__cell-title,
  &:hover .Collection__cell-authors {
    color: #888;
  }
}
.Collection__image-container {
}
.Collection__image-container--empty {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #f1f1f4;
  position: relative;

  &:before {
    content: "Objet sans image";
    @include f-serif;
    font-size: rem(13px);
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6d6d6d;
  }
}
.Collection__cell img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f4;
}
.Collection__cell-label {
  margin-top: 20px;
  padding-bottom: 25px;
}
.Collection__cell-title {
  display: inline;
  margin: 0;
  padding: 0;
  @include f-sans;
  font-size: rem(13px);
  line-height: rem(18px);
  font-weight: bold;
  color: $dark-gray;

  &:empty {
    display: none;
  }
}
.Collection__cell-authors {
  display: inline;
  @include f-sans;
  font-size: rem(13px);
  line-height: rem(20px);
  font-weight: normal;
  color: $dark-gray;
}

.Collection__scrollToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1;

  transition: opacity 0.15s ease-in-out;
  &.scrollToTop-enter {
    opacity: 0;
  }
  &.scrollToTop-enter.scrollToTop-enter-active {
    opacity: 1;
  }
}
