.ScrollToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  @include breakpoint(1025px) {
    width: 56px;
    height: 56px;
  }
  border-radius: 50%;
  border: 1px solid $lines;
  background-color: #fff;
  cursor: pointer;

  &:hover,
  &:active {
    border-color: black;
  }

  transition: opacity 0.15s ease-in-out;
  &.scrollToTop-enter {
    opacity: 0;
  }
  &.scrollToTop-enter.scrollToTop-enter-active {
    opacity: 1;
  }
}
