.ConfirmedDelete {
  width: 36px;
  height: 36px;
  overflow: visible;
}
.ConfirmedDelete__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.ConfirmedDelete.is-awaiting-confirmation .ConfirmedDelete__overlay {
  pointer-events: all;
  opacity: 1;
}

.ConfirmedDelete.is-awaiting-confirmation {
  .ConfirmedDelete__overlay,
  .ConfirmedDelete__buttons-row-wrapper {
    z-index: 5;
  }
}

.ConfirmedDelete__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25px, -25px);
  z-index: 3;
}

.ConfirmedDelete__buttons-row-wrapper {
  position: relative;

  width: calc(100vw - 120px);

  @include breakpoint(768px) {
    width: 500px; // Break out !
  }
}
.ConfirmedDelete__buttons-row {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  top: -36px;
  @include breakpoint(768px) {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    top: -40px;
  }

  position: relative;
  left: 55px;
}
.ConfirmedDelete__large-butt {
  flex: 0 1 auto;
  margin-right: 15px;
  margin-bottom: 15px;
  width: auto;
}
.ConfirmedDelete__spacer-dot-gif {
  flex: 2 0 100%;
}
