// Vendor (~ is aliased to node_modules)
@import "~normalize.css";
@import "~sass-rem";
@import "~breakpoint-sass";
@import "~simple-react-notifications/dist/index.css";

// Shared utilities
@import "shared/aspect-ratio";
@import "shared/breakpoints";
@import "shared/colors";
@import "shared/global";
@import "shared/grids";
@import "shared/reset-reset";
@import "shared/spinner";
@import "shared/typography";

// Blocks
@import "layouts/Info";
@import "layouts/SiteFooter";
@import "blocks/Nav";

// React components
@import "../js/Auth/AuthModal.scss";
@import "../js/Collection/Collection.scss";
@import "../js/Collection/ScrollToTop.scss";
@import "../js/Collection/ResultCount.scss";
@import "../js/Collection/Filters/Authors.scss";
@import "../js/Collection/Filters/AuthorsMobile.scss";
@import "../js/Collection/Filters/Periods.scss";
@import "../js/Collection/Filters/PeriodsMobile.scss";
@import "../js/Collection/Filters/CriteriaPhrase.scss";
@import "../js/Collection/Filters/DesktopOverlayZone.scss";
@import "../js/Collection/Filters/Dimensions.scss";
@import "../js/Collection/Filters/DimensionsMobile.scss";
@import "../js/Collection/Filters/Materials.scss";
@import "../js/Collection/Filters/MaterialsMobile.scss";
@import "../js/Collection/Filters/MobileSearch.scss";
@import "../js/Collection/Filters/Filters.scss";
@import "../js/Collection/Filters/FilterPanelDesktop.scss";
@import "../js/Collection/Filters/FiltersMobile.scss";
@import "../js/Collection/Filters/FilterPanelMobile.scss";
@import "../js/Collection/Filters/ProductionOrigins.scss";
@import "../js/Collection/Filters/ProductionOriginsMobile.scss";
@import "../js/Collection/Filters/ProductTypes.scss";
@import "../js/Collection/Filters/ProductTypesMobile.scss";
@import "../js/Collection/Filters/Styles.scss";
@import "../js/Collection/Filters/StylesMobile.scss";
@import "../js/Collection/Settings/Settings.scss";
@import "../js/Detail/Detail.scss";
@import "../js/Modal.scss";
@import "../js/Selection/CollaborationsHandler.scss";
@import "../js/Selection/SelectionDetail.scss";
@import "../js/Selection/SelectionModal.scss";
@import "../js/Selection/Selections.scss";
@import "../js/Selection/SelectionsNav.scss";
@import "../js/Selection/SelectionsList.scss";
@import "../js/Selection/SelectionsListItem.scss";
@import "../js/Selection/MySelections.scss";
@import "../js/ui/Button.scss";
@import "../js/ui/ConfirmedDelete.scss";
@import "../js/ui/Notification.scss";
@import "../js/ui/Loader.scss";
@import "../js/ui/LibraryBoard.scss";
@import "../js/ui/InputField.scss";
@import "../js/ui/RemoveButton.scss";
@import "../js/ui/Switch.scss";
@import "../js/ui/Textarea.scss";

:root {
  height: 100%;
  // Disable double-tap to zoom in iOS.
  touch-action: manipulation;
}

html,
body {
  height: 100%;
}
