// Vendor (~ is aliased to node_modules)
@import "~normalize.css";
@import "~sass-rem";
@import "~breakpoint-sass";
@import "~flickity/css/flickity.css";

@import "shared/aspect-ratio";
@import "shared/breakpoints";
@import "shared/colors";
@import "shared/global";
@import "shared/grids";
@import "shared/reset-reset";
@import "shared/spinner";
@import "shared/typography";
@import "shared/blocks";

@import "layouts/BlocksLayout";
@import "layouts/SiteFooter";

// Blocks
@import "blocks/ArticleCollectionGrid";
@import "blocks/ArticleList";
@import "blocks/Card";
@import "blocks/CenteredImage";
@import "blocks/Definition";
@import "blocks/DoubleColText";
@import "blocks/Embed";
@import "blocks/EncycloHome";
@import "blocks/GenericGrid";
@import "blocks/Heading2";
@import "blocks/HighlightedText";
@import "blocks/Nav";
@import "blocks/Pagination";
@import "blocks/Search";
@import "blocks/SingleColText";
@import "blocks/StepStack";
@import "blocks/TextImage";

:root {
  height: 100%;
  // Disable double-tap to zoom in iOS.
  touch-action: manipulation;
}

html,
body {
  height: 100%;
}

.Article {

  background-image: radial-gradient(closest-side, #FF898987, transparent),
                    radial-gradient(closest-side, #9F97FF87, transparent);
  background-position: bottom 270px right -146px,
                       bottom -152px right calc(50% - 461px);
  background-size: 687px 687px,
                   922px 922px;
  background-repeat: no-repeat;

  @include breakpoint(768px) {
    background-position: bottom 500px right -400px,
      top 497px left -314px;
    background-size: 687px 687px,
      922px 922px;
  }

  @include breakpoint($large-up) {
    background-position: bottom 390px right 75px,
                         bottom -10px right -275px;
    background-size: 687px 687px,
      922px 922px;
  }
  @include breakpoint($a-xxlarge-up) {
    background-position: bottom 830px right 330px,
      top 0 left 0;
    background-size: 687px 687px,
      922px 922px;
  }
}

.Article__header {
  @extend %article-grid;
  background-color: #000;
  color: #fff;
  position: relative;
  z-index: 2;
}

.Article__cover-text {
  grid-column: main;
  @include breakpoint(768px 1023px) {
    grid-column: 2 / -2;
  }
  @include breakpoint(1024px) {
    grid-column: 2 / 7;
  }
  // @include breakpoint($a-xxlarge-up) {
  //   grid-column: 2 / 9;
  // }
}

.Article__cover-image-container {
  margin: 60px -25px;

  @include breakpoint(768px 1023px) {
    margin-top: 85px;
    margin-left: calc(100vw / 15 * -1);
    margin-right: calc(100vw / 15 * -1);
  }
  @include breakpoint(1024px) {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }
}

.Article__cover-image {
  width: 100vw;
  display: block;
  @include breakpoint(1024px) {
    height: 100vh;
    width: 50vw;
    object-fit: cover;
    position: sticky;
    top: 0;
    left: 0;
  }
}

.Article__cover-primary {
  @include breakpoint($medium-up) {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
  }
}

.Article__logo-container {
  margin-top: 115px;
  display: flex;
  flex-flow: column;
  align-items: center;

  @include breakpoint(768px) {
    display: block;
    flex: 0 0 auto;
    margin-top: 35px;
  }
}
.Article__logo-container img {
  display: block;
  margin-bottom: 4px;
  @include breakpoint(768px) {
    display: inline;
    position: relative;
    top: 3px;
    margin: 0 3px 0 0;
  }
}
.Article__logo-encyclo {
  @include f-serif;
  font-size: rem(17px);
  font-style: italic;
  line-height: rem(22.1px);
  letter-spacing: 0.03em;
  color: inherit;
  text-decoration: none;
  @include breakpoint(768px) {
    display: inline;
  }
}
.Article__logo-mobnat {
  @include f-sans;
  font-size: rem(19px);
  font-style: normal;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-feature-settings: "pnum" on, "onum" on;
  font-weight: 300;
  line-height: rem(26px);
  letter-spacing: 0.05em;
  text-align: center;
  @include breakpoint(768px) {
    display: block;
    text-align: left;
  }
}

.Article__h1 {
  margin-top: 58px;
  margin-bottom: 0;
  text-align: center;
  @include breakpoint(768px) {
    flex: 2 0 auto;
    max-width: 450px;
    margin: 80px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
  }
  @include breakpoint(1024px) {
    max-width: initial;
    margin-left: 0;
    margin-right: 0;
  }
}
.Article__h1-inner {
  @include breakpoint(768px) {
    display: block;
  }
}
.Article__title {
  @include f-serif;
  font-size: rem(30px);
  font-style: normal;
  font-weight: 400;
  line-height: rem(44px);
}
.Article__subtitle {
  @include f-serif;
  font-size: rem(30px);
  font-style: italic;
  font-weight: 400;
  line-height: rem(44px);

  &:before {
    content: " | ";
  }
}
.Article__reading-time {
  display: inline-flex;
  height: 25px;
  position: relative;
  top: -4px;
  border: 1px solid #fff;
  border-radius: 12.5px;
  align-items: center;
  margin-left: 10px;
  user-select: none;
}
.Article__reading-time-icon {
  margin: 0 5px 0 11px;
}
.Article__reading-time-label {
  @include f-sans;
  font-size: rem(13px);
  font-weight: normal;
  color: #fff;
  margin-right: 13px;
}

.Article__arrow-down {
  // flex: 1 0 auto;
  display: block;
  margin: 30px auto;
  @include breakpoint($medium-up) {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: calc(30vh / 2);
  }
}

.Article__meta-wrap {
  @include breakpoint(768px 1023px) {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
  }
  @include breakpoint($medium-up) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  // @include breakpoint($a-xxlarge-up) {
  //   grid-template-columns: repeat(7, 1fr);
  // }
}

.Article__byline,
.Article__cover-dates {
  flex: 0 0 auto;
  display: block;
  @include f-sans;
  font-size: rem(13px);
  line-height: rem(16px);
  font-weight: normal;
  text-align: center;
  color: $a-gris-clair;
}
.Article__byline {
  @include breakpoint(768px 1023px) {
    grid-column: 1 / 5;
    text-align: left;
  }
  @include breakpoint($medium-up) {
    grid-column: 4 / 7;
    grid-row: 1;
    text-align: left;
  }
  // @include breakpoint($a-xxlarge-up) {
  //   grid-column: 5 / 8;
  // }
}
.Article__cover-dates {
  margin-bottom: 60px;
  @include breakpoint(768px 1023px) {
    grid-column: 10 / 14;
    margin-bottom: 0;
    text-align: left;
  }
  @include breakpoint($medium-up) {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: left;
  }
  // @include breakpoint($a-xxlarge-up) {
  //   grid-column: 1 / 4;
  // }
}

.Article__lead {
  @include f-sans;
  font-style: normal;
  font-weight: normal;
  font-size: rem(18px);
  line-height: 145%;

  a {
    text-underline-offset: 4px;
    text-decoration-skip-ink: all;
    color: inherit;
  }

  @include breakpoint(768px) {
    max-width: 560px;
    margin: 100px auto 100px;
  }
  @include breakpoint(1024px) {
    max-width: initial;
    margin: 140px 0 110px;
  }
}

.Article__tags {
  font-size: 0px;
  margin: 60px 0 100px;
  padding: 0;
  @include breakpoint(768px) {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(1024px) {
    max-width: initial;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 160px;
  }
}
.Article__tag {
  @include f-sans;
  font-style: normal;
  font-weight: normal;
  font-size: rem(13px);
  line-height: 200%;
  background-color: $a-gris-fonce;
  border-radius: 15px;
  padding: 0 10px;
  text-decoration: none;
  color: #e0e0e0;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 15px;
  &::first-letter {
    text-transform: uppercase;
    display: inline;
  }
}

:root {
  counter-reset: heading2-total-counter heading2-counter;
}
.Article__toc {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  top: 0;
  left: 0;
}
.Article__toc-item {
  counter-increment: heading2-total-counter;
}

.Article__bottom-spacer {
  display: block;
  height: 130px;
  @include breakpoint($medium-up) {
    height: 200px;
  }
}
.Article__footnotes,
.Article__bibliography,
.Article__credits {
  @extend %article-grid;

  color: $a-bleu-fonce;
  & .Article__double-col-container {
    position: relative;
    z-index: 2;
    grid-column: main;
    padding: 0 0 15px;
    border-bottom: 0.5px solid $a-bleu-fonce;
    @include breakpoint(768px) {
      padding: 50px 0 35px;
      min-height: 110px;
      grid-column: 3 / -3;
      columns: 2;
      column-gap: calc(100% / 11);
    }
    @include breakpoint($a-xxlarge-up) {
      grid-column: 4 / -4;
    }

    @extend %rich-text;
    font-size: rem(15px);
    a,
    a:hover {
      color: inherit;
    }
    p {
      orphans: 3;
    }
  }
}
@include breakpoint(768px) {
  // :is(:not(.Article__footnotes), :not(.Article__bibliography), :not(.Article__credits)) +
  :not(:is(.Article__footnotes, .Article__bibliography, .Article__credits)) +
  :is(.Article__footnotes, .Article__bibliography, .Article__credits) .Article__double-col-container {
    border-top: 0.5px solid $a-bleu-fonce;
  }
}
.Article__footnotes {
  position: relative;
}
.Article__footnotes-decoration {
  position: absolute;
  top: -267px;
  left: 0;
  width: 100%;
  height: 550px;
  overflow: hidden;
  z-index: 1;
  &:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    width: 550px;
    height: 550px;
    left: -50%;
    top: 0;
    
    // Simplified gradient, to handle compositing and blinding of overlaping gradients.
    background: radial-gradient(closest-side, #6167ff42, transparent);
    @include breakpoint(768px) {
      left: -3.95%;
    }

  }
}
.Article__credits .Article__double-col-container {
  border-bottom: 0.5px solid $a-bleu-fonce;
}
.Article__vertical-label {
  margin: 0 0 25px;
  @include f-sans;
  font-style: normal;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(20px);
  color: $a-bleu-fonce;
  white-space: nowrap;
  grid-column: main;
  min-width: 0;
  border-top: 0.5px solid $a-bleu-fonce;
  padding-top: 35px;

  @include breakpoint(768px) {
    margin-top: 35px;
    grid-column: 1 / 2;
    text-align: right;
    padding-top: 0;
    border-top: 0;
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 2 / 3;
  }
  & span {
    @include breakpoint(768px) {
      display: block;
      transform-origin: bottom right;
      transform: rotate(-90deg);
      margin-top: 5px;
    }
  }
}

.Article__footer {
  @extend %article-grid;
  position: relative;
  z-index: 1;
}
.Article__footer-label {
  margin-top: 88px;
  margin-bottom: 50px;
  grid-column: main;
  @include breakpoint(768px) {
    grid-column: 3 / 9;
    margin-bottom: 0;
  }
  @include f-serif;
  font-style: italic;
  font-weight: normal;
  font-size: rem(40px);
}
.Article__footer-featured-stack {
  @extend %EncycloArticleStack;
  grid-column: main;
  margin: 0 0 40px 0;
  @include breakpoint(768px) {
    margin: 60px 0 200px;
    --Card-title-font-size: 18px;
    grid-column: 3 / -3;
  }
  & li {
    @include breakpoint(768px) {
      --col-width: calc(100vw / 15);
      width: calc(var(--col-width) *  3);
      margin-right: var(--col-width);
    }

    &:last-child {
      @include breakpoint(768px) {
        margin-right: 0;
      }
    }
  }
}



/*
 The dotted navigation, fixed bottom right, to jump to
 the sections of the article.
*/
.Article__index {
  display: none;
  @include breakpoint(768px) {
    display: block;
  }
  position: fixed;
  bottom: 66px;
  right: calc(100vw / 15);
  margin-right: -14px;
  z-index: 4;

  opacity: 0;
  transition: opacity ease-in-out 250ms;

  &.visible {
    opacity: 1;
  }
}

.Article__index_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.Article__index_item {
  margin: 0;
  padding: 0;
  display: block;
}
.Article__index_link {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-decoration: none;
  &:focus-visible {
    outline: 1px solid $a-or-fond-clair;
  }
}
.Article__index_link:before {
  content: '';
  display: block;
  height: 13px;
  width: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  border-radius: 50%;
  text-decoration: none;
  color: $a-or-fond-clair;
  transition: border-color ease-in-out 250ms;
}
.Article__index_link::after {
  content: '';
  display: block;
  background-color: #b86e00;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Article__index_label {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 26px;
  max-width: 300px;
  padding: 0 13px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  background-color: $a-or-fond-clair;
  border-radius: 13px;
  @include f-sans;
  font-style: normal;
  font-weight: 400;
  font-size: rem(13px);
  line-height: 130%;
  color: white;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
  pointer-events: none;
}
.Article__index_label-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Article__index_link:hover,
.Article__index_link.active {
  &:before {
    border-color: $a-or-fond-clair;
  }
  & .Article__index_label {
    opacity: 1;
    pointer-events: auto;
  }
}


