// Vendor (~ is aliased to node_modules)
@import "~normalize.css";
@import "~sass-rem";
@import "~breakpoint-sass";

@import "shared/aspect-ratio";
@import "shared/breakpoints";
@import "shared/colors";
@import "shared/global";
@import "shared/grids";
@import "shared/reset-reset";
@import "shared/spinner";
@import "shared/typography";

@import "layouts/BlocksLayout";

// Blocks
@import "blocks/Heading2";

:root {
  height: 100%;
  // Disable double-tap to zoom in iOS.
  touch-action: manipulation;
}

html,
body {
  height: 100%;
}
