/* Shared styles for article blocks */

%image-caption {
  @include f-sans;
  font-size: rem(16px);
  line-height: 145%;
  color: $a-gris-medium;
  margin-top: 22px;
  margin-bottom: 40px;
}

%rich-text {
  @include f-sans;
  font-size: rem(18px);
  line-height: 145%;

  & strong {
    // background-color: #e2e9ff;
    // padding: 0 3px;
    font-weight: normal;
    color: $a-or-fond-clair;
  }
  .on-dark-bg & strong,
  &.on-dark-bg strong {
    // background-color: #2e2e2e;
    color: $a-or-fond-noir;
  }

  & p {
    padding: 0;
    margin: 0 0 1rem;
  }

  & a {
    text-underline-offset: 5px;
    text-decoration-skip-ink: all;
    color: #7c7c7c;
    &:hover {
      color: #4f4f4f;
    }
  }
}

/* Apply dark background to blocks */
.on-dark-bg {
  background-color: $a-dark-bg;
  color: #fff;
  position: relative;
}

@mixin dark-margin-top($height) {
  &:before {
    content: "";
    background-color: $a-dark-bg;
    position: absolute;
    top: calc(#{$height} * -1);
    left: 0;
    right: 0;
    height: $height;
    z-index: -1;
  }
}

@mixin dark-margin-bottom($height) {
  &:after {
    content: "";
    background-color: $a-dark-bg;
    position: absolute;
    bottom: calc(#{$height} * -1);
    left: 0;
    right: 0;
    height: $height;
    z-index: -1;
  }
}
