$xsmall: 0px 800px;
$xsmall-up: 0px;

$small: 800px 1023px;
$small-up: 800px;

$medium: 1024px 1439px;
$medium-up: 1024px;

$large: 1440px 1599px;
$large-up: 1440px;

$xlarge: 1600px 1799px;
$xlarge-up: 1600px;

$xxlarge: 1800px;
$xxlarge-up: 1800px;

$a-xxlarge-up: 1920px;
