
$xsmall: 0px 800px;
$xsmall-plus: 0px;

$small: 800px 1023px;
$small-plus: 800px;

$medium: 1024px 1439px;
$medium-plus: 1024px;

$large: 1440px 1600px;
$large-plus: 1440px;

$xlarge: 1600px 1800px;
$xlarge-plus: 1600px;

$xxlarge: 1800px;
$xxlarge-plus: 1800px;