$quasi-black: #1e1e1e;
$purple: #7a90ff;
$salmon: #ff9f9f;

$dark-gray: #434343;
$lines: #ececec;

$gray-min: #767676;

$pink-light: #ffc9c6;
$pink-medium: #ff8989;
$pink-dark: #953535;

$green-light: rgba(56, 182, 115, 0.3);
$green-medium: #38b672;
// $green-dark: #00694a;
$green-dark: #13362a;

$yellow-light: rgba(255, 216, 100, 0.4);
$yellow-medium: #ffd964;
$yellow-dark: #a55409;

$red-light: rgba(255, 71, 71, 0.2);
$red-medium: #ff4747;
$red-dark: #db2929;
$red-darker: #d4262a;
$heart-red: #f24747;

$blue-light: rgba(83, 129, 244, 0.2);
$blue-medium: #5380f4;
$blue-dark: #2b3c7e;

$purple-light: #e2ddff;
$purple-medium: #b7abff;
$purple-dark: #66318f;

$petrol-light: #ade1ff;
$petrol-medium: #27667a;

/* 
    Article colors
    Color names are those of Figma document.
*/
$a-gris-clair: #acacac;
$a-gris-medium: #7c7c7c;
$a-gris-fonce: #2d2d2d;
$a-bleu-fonce: #3338ba;
$a-rose-poudre: #d9857a;
$a-dark-bg: #0d0d0d;
$a-bleu-fonce: #3338ba;
$a-or-fond-clair: #b86e00;
$a-or-fond-noir: #cf9948;
