html.prevent-scroll,
html.prevent-scroll body {
  overflow: hidden;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
  See `focus-visible` package in node_modules.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/*
  Force the page to be full height, the footer should always be at the bottom.
*/
body {
  display: flex;
  flex-flow: column;
}