.Detail {
  padding: 0 40px;
}

.BackToCollection {
  display: block;

  .BackToCollection__button {
    display: inline-block;
    padding: 10px;
    margin-left: -10px;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
      color: #767676;
    }
  }
  svg {
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
  .BackToCollection__label {
    @include f-serif;
    font-size: rem(15px);
    b {
      font-weight: 600;
    }
  }
}

.DetailMainImage {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.DetailMainImage__fig {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;

  &.has-no-image {
    background-color: #f1f1f4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include f-sans;
    font-size: rem(13px);
    color: rgb(109, 109, 109);
  }
}
.DetailMainImage__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.DetailMainImage__img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  object-position: right top;
}
.DetailMainImage__toolbar {
  position: absolute;
  top: 20px;
  right: -25px;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
}
.DetailMainImage__button {
  height: 50px;
  width: 50px;
  margin: 0 0 15px 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid $lines;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.DetailMainImage__button--magnifying-glass:hover {
    color: $blue-medium;
    border-color: $blue-medium;
  }
  &.DetailMainImage__button--download:hover {
    color: $green-medium;
    border-color: $green-medium;
  }

  svg {
    display: block;
    flex: 0 0 auto;
  }
}

.DetailImageList {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  img {
    display: block;
    cursor: pointer;
  }
  button {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    cursor: pointer;
  }
}

.DetailTitle {
  margin: 0;
  padding: 0;
  @include f-serif;
  font-weight: normal;
  font-size: rem(30px);
  line-height: rem(50px);
}
.DetailTitle__denomination,
.DetailTitle__title_or_designation {
  display: block;
}

.DetailData {
}
.DetailData__unit,
.DetailData__label,
.DetailData__datum,
.DetailInfo__unit,
.DetailInfo__label,
.DetailInfo__datum {
  display: block;
}
.DetailData__unit,
.DetailInfo__unit {
  padding-bottom: 15px;
  border-bottom: 1px solid $lines;
  margin-bottom: 11px;
  @include f-sans;
  font-size: rem(15px);
  line-height: rem(22px);

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.DetailData__label,
.DetailInfo__label {
  font-size: rem(13px);
  color: #828282;
}

////////////////////////////////////
// Desktop versions of the layout //
////////////////////////////////////

.DetailDesktop__left-zone {
  position: fixed;
  top: 0;
  left: 40px;
  padding-top: 20px;
  box-sizing: border-box;
  .DetailMainImage {
  }
}
.DetailDesktop__right-zone {
  margin-top: 70px;
  .DetailTitle {
    margin-bottom: 30px;
  }
}
.DetailDesktop__right-zone-dblcol {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  .DetailData {
    flex: 0 0 auto;
    width: calc((((100% - (40px * 5)) / 6) * 2) + (1 * 40px));
    margin-right: 40px;
  }
  .DetailInfo {
    flex: 1 1 auto;
  }
}

.DetailDesktop {
  .DetailDesktop__left-zone {
    height: 100vh;
    display: flex;
    .BackToCollection {
      flex: 0 0 45px;
    }
    .DetailMainImage {
      flex: 1 1 auto;
    }
    .DetailImageList {
      flex: 0 0 80px;
      display: flex;
    }
  }
}

.DetailDesktop.has-landscape-poster {
  .DetailDesktop__left-zone {
    width: calc((((100% - (40px * 11)) / 12) * 6) + (6 * 40px));
    flex-flow: column nowrap;
    .BackToCollection {
      flex: 0 0 45px;
    }
    .DetailMainImage {
      flex: 1 1 auto;
      margin-top: 20px;
    }
    .DetailImageList {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-bottom: 60px;
      margin-top: 30px;
      li {
        margin-left: 10px;
      }
      img {
        height: 80px;
      }
    }
  }
  .DetailDesktop__right-zone {
    margin-left: calc((((100% - (40px * 11)) / 12) * 7) + (7 * 40px));
  }
}

.DetailDesktop.has-portrait-poster {
  .DetailDesktop__left-zone {
    width: calc((((100% - (40px * 11)) / 12) * 6) + (5 * 40px));
    flex-flow: row nowrap;
    padding-top: calc(45px + 20px);
    .BackToCollection {
      position: absolute;
      top: 10px;
      left: 0;
    }
    .DetailMainImage {
      flex: 1 1 auto;
    }
    .DetailImageList {
      width: calc((((100% - (40px * 6)) / 6) * 2) + (1 * 40px));
      flex: 0 0 auto;
      overflow-x: hidden;
      overflow-y: auto;
      flex-flow: column nowrap;
      justify-content: flex-start;
      margin-left: 40px;
      margin-right: 40px;
      align-items: center;
      li {
        margin-bottom: 10px;
      }
      img {
        width: 80px;
      }
    }
  }
  .DetailDesktop__right-zone {
    // margin-left: calc((100% / 12) * 7);
    margin-left: calc((((100% - (40px * 11)) / 12) * 6) + (6 * 40px));
  }
}

.DetailZoomed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  display: flex;
  flex-flow: row nowrap;

  background-color: #fff;
}
.DetailZoomed__fig {
  flex: 1 1 auto;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.DetailZoom__thumbails {
  display: block;
  flex: 0 0 auto;
  width: 225px;
  list-style: none;
  margin: 0;
  padding: 60px 0 0 0;
  filter: grayscale(1);
  overflow-x: hidden;
  overflow-y: auto;

  li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  button {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 10px;
    margin: 0;
    -webkit-appearance: none;
    cursor: pointer;
  }
  img {
    display: block;
    width: 145px;
    margin: 0 auto;
  }
}
.DetailZoomed__toolbar {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .DetailZoomed__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $lines;
    color: #000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:first-child {
      margin-right: 20px;
    }

    &:hover {
      border-color: #000;
    }
  }
}
.DetailZoom__close {
  position: absolute;
  top: 10px;
  right: 30px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer;
}

.DetailDownloadModal {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.DetailDownloadModal__window {
  flex: 1 1 auto;
  width: 826px;
  padding: 50px;
  margin: 100px 0;
  box-sizing: border-box;
  position: relative;
  background-color: #40b877;
  color: #fff;
  -webkit-font-smoothing: antialias;
  @include f-sans;
  font-size: rem(20px);
  line-height: rem(30px);

  header {
    width: 100%;
    margin-bottom: 30px;
    b,
    span {
      display: block;
    }
    a {
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid #000;
    }
  }

  b {
    font-weight: normal;
    color: #000;
  }
  button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #000;
    @include f-sans;
    font-size: rem(20px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
.DetailDownloadModal__2cols {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  p {
    flex: 0 0 calc(50% - 30px);
    margin: 0;
    &:first-child {
      margin-right: 30px;
    }
    span {
      display: block;
    }
  }
}

.DetailInfo__sharing {
  color: #888;

  a,
  button {
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
      color: #1a1a1a;
    }
  }
}
.DetailInfo__sharing-copied {
  display: inline-block;
  position: relative;
  top: -2px;
  @include f-sans;
  font-size: 13px;
  color: #1a1a1a;
  opacity: 0;
  transition: opacity 0.2s linear;

  &.is-visible {
    opacity: 1;
  }
}
