.Authors {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 1 auto;
  position: relative;
  max-height: calc(100% - 60px);
  @include breakpoint(1025px) {
    flex-flow: row nowrap;
    position: absolute;
    top: 0;
    left: 0;
    left: 288px;
    width: calc(288px + 80px);
    height: 100vh;
    max-height: 100%;
  }
  z-index: 1;
  box-sizing: border-box;
  background-color: $green-medium;

  transition: opacity 0.15s ease-in-out;
  &.desktopFilterPanel-enter {
    opacity: 0;
  }
  &.desktopFilterPanel-enter.desktopFilterPanel-enter-active {
    opacity: 1;
  }
}
.Authors__alphabet {
  flex: 0 0 auto;
  width: 60px;
  box-sizing: border-box;
  padding: 15px 0 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: auto;
  @include breakpoint(1025px) {
    height: 100vh;
    width: 80px;
    padding: 30px 0 20px;
  }
}
.Authors__alphabet-button {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: center;
  @include f-sans;
  font-size: rem(11px);
  color: #0a3630;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: #fff;
    }
  }
}
.Authors__double-col {
  flex: 1 1 auto;
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // padding: 37px 0 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $green-dark;
}
.Authors__letter-container {
  display: block;
  // columns: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $green-medium;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.Authors__separator:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 40px;
  right: 30px;
  height: 1px;
  background-color: $green-medium;
  @include breakpoint(1025px) {
    left: 50px;
  }
}

.Authors__col-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Authors__double-col button {
  display: block;
  width: 100%;
  padding: 10px 30px 10px 40px;
  @include breakpoint(1025px) {
    padding-left: 50px;
  }
  margin: 0;
  position: relative;
  @include f-sans;
  font-size: rem(15px);
  line-height: rem(23px);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: white;
  text-align: left;
  -webkit-font-smoothing: antialiased;

  strong {
    font-weight: normal;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.is-selected {
    color: white;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.7);
      height: 6px;
      width: 6px;
      border-radius: 50%;
    }
  }
}
.Authors__double-col ul ul button {
  &:hover {
    font-weight: 600;
  }
  &.is-selected {
    font-weight: 700;
    color: white;
  }
}
.Authors__objcount {
  margin-left: 5px;
  font-size: rem(10px);
}

.Authors__illustrations {
  position: fixed;
  top: 0;
  left: calc(288px + 450px);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  background-color: $green-medium;

  img {
    display: block;
    width: 130px;
    mix-blend-mode: multiply;
  }
}
.Authors__col-item:hover .Authors__illustrations {
  opacity: 1;
}
.Authors__nobr {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
