.CriteriaPhrase {
  &::first-letter {
    text-transform: uppercase;
  }
}

.CriteriaPhrase__button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1px;
  padding: 0 3px 2px 5px;
  text-align: left;
  box-decoration-break: clone;

  &:hover {
    background-color: transparent !important;
    .CriteriaPhrase__button-text {
      text-decoration: line-through;
    }
    .CriteriaPhrase__button-cross {
      visibility: hidden;
    }
  }

  &.is-product_type {
    background-color: $pink-light;
    text-transform: lowercase;
  }
  &.is-production_origin {
    background-color: $purple-light;
  }
  &.is-author {
    background-color: $green-light;
  }
  &.is-style {
    background-color: $yellow-light;
  }
  &.is-material {
    background-color: $blue-light;
  }

  &.is-query {
    background-color: #f1f1f1;
  }
  &.is-period {
    background-color: #FFD8D8;
  }
  &.is-dimension {
    background-color: #bde7ff;
  }
}

.CriteriaPhrase__button-cross {
  margin-left: 4px;
  margin-right: 2px;
  position: relative;
  top: -1px;
  color: #1e1e1e;
  white-space: nowrap;
}
