.DimensionsMobile {
}

.DimensionsMobile__header {
  background-color: $petrol-light;
}
.DimensionsMobile__back-button {
  -webkit-tap-highlight-color: #bde7ff;
}
.DimensionsMobile .FilterPanelMobile__close {
  -webkit-tap-highlight-color: #bde7ff;
}
.DimensionsMobile__col-title {
}
