.Dimensions {
  position: absolute;
  top: 0;
  left: 288px;
  width: calc(288px * 2);
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  background-color: $petrol-light;

  transition: opacity 0.15s ease-in-out;
  &.desktopFilterPanel-enter {
    opacity: 0;
  }
  &.desktopFilterPanel-enter.desktopFilterPanel-enter-active {
    opacity: 1;
  }
}
.Dimensions__illustrations {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 288px;
  position: absolute;
  left: 288px;
  top: 0;
  box-sizing: border-box;
  padding: 55px 0 0;
  background-color: $petrol-medium;

  img {
    margin: 0 auto;
  }
}
.Dimensions__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  width: 288px;
  margin: 55px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.Dimensions__form-block {
  margin-bottom: 85px;
}
.Dimensions__label {
  margin-bottom: 19px;
}
.Dimensions__label,
.Dimensions__inputs-line {
  @include f-sans;
  font-size: rem(15px);
  line-height: 1;
}
.Dimensions__inputs-line {
  text-align: center;
}
.Dimensions__inputs-container {
  display: inline-block;
  margin-right: 4px;
  background-color: #ADE1FF;
  input {
    height: 28px;
    width: 40px;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
}

.Dimensions__range-container {
  margin: 0 50px;
}
.Dimensions__slider {
  position: relative;
}
.Dimensions__slider-rail {
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 2px dotted #27667a;
}
.Dimensions__slider-track {
  height: 2px;
  background-color: #27667a;
  position: absolute;
}
.Dimensions__slider-handles {
}
.Dimensions__slider-handle {
  position: absolute;
  left: 0;
  top: -11px;
  margin-left: -12px;
  z-index: 2;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.Dimensions__slider-handle-dot {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #000;
  //   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.Dimensions__slider-handle-label {
  position: absolute;
  min-width: 100%;
  top: 100%;
  margin-top: 8px;
  padding: 0;
  z-index: 3;
  @include f-sans;
  font-size: rem(15px);
  color: black;
  text-align: center;
}
.Dimensions__slider-label {
  position: absolute;
  bottom: -30px;
  left: 0;
  padding: 0;
  z-index: 3;
  @include f-sans;
  font-size: rem(15px);
  color: black;
  text-align: left;

  &.at-right {
    text-align: right;
    left: auto;
    right: 0;
  }
}
