.FilterPanelMobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 5;
  --filter-panel-mobile-max-width: 350px;
  user-select: none;
}
.FilterPanelMobile__overlay {
  position: absolute;
  top: 0;
  left: var(--filter-panel-mobile-max-width);
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.FilterPanelMobile__resultcount,
.FilterPanelMobile__loader {
  @media screen and (max-width: 420px) {
    position: fixed;
    z-index: 99999;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.FilterPanelMobile__loader {
  @media screen and (max-width: 420px) {
    bottom: 50%;
  }
}
.FilterPanelMobile__rootcolumn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: var(--filter-panel-mobile-max-width);
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
  overflow: hidden;
  @include breakpoint(768px) {
    justify-content: flex-start;
    padding-top: 50px;
  }
  @include breakpoint(1025px) {
    padding-top: 0;
  }
}
.FilterPanelMobile__close {
  position: absolute;
  z-index: 4;
  top: 13px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.FilterPanelMobile__list-enter {
  transition: transform 0.15s ease-in-out;
  transform: translateX(-100%);
  &.FilterPanelMobile__list-enter-active {
    transform: translateX(0%);
  }
}
.FilterPanelMobile__list-leave {
  transition: transform 0.15s ease-in-out;
  transform: translateX(0%);
  &.FilterPanelMobile__list-leave-active {
    transform: translateX(-100%);
  }
}

.FilterPanelMobile__sliding-enter {
  transition: transform 0.15s ease-in-out;
  transform: translateX(100%);
  &.FilterPanelMobile__sliding-enter-active {
    transform: translateX(0%);
  }
}
.FilterPanelMobile__sliding-leave {
  transition: transform 0.15s ease-in-out;
  transform: translateX(0%);
  &.FilterPanelMobile__sliding-leave-active {
    transform: translateX(100%);
  }
}

// Common styles for the panel of simple styles
.FilterPanelMobile__filter-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.FilterPanelMobile__header {
  flex: 0 0 60px;
  position: relative;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.FilterPanelMobile__back-button {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.FilterPanelMobile__filter-container .FilterPanelMobile__close {
}
.FilterPanelMobile__col-title {
  @include f-sans;
  font-weight: normal;
  font-size: rem(20px);
  width: 100%;
  text-align: center;
}
