.FilterPanelDesktop {
  top: 0;
  left: 0;
  width: 288px;
  height: 100%;
  z-index: 2;
  // border-right: 1px solid $lines;

  .has-uninitialized-BetaWelcome & {
    position: absolute;
    top: 40px;
  }
  .has-initialized-BetaWelcome & {
    position: fixed;
  }
}
.FilterPanelDesktop__scrollable {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.FilterPanelDesktop__top-area {
  flex: 0 auto;
  padding: 40px;
}
.FilterPanelDesktop__filters-block {
  flex: 2 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: stretch;
  & ul {
    display: block;
    margin: 0;
    padding: 3px 40px 40px;
  }
  & li {
    display: block;
    margin: 0;
    padding: 0;
  }
  & button {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid $lines;
    background-color: transparent;
    cursor: pointer;

    @include f-serif;
    font-size: rem(15px);
    line-height: rem(20px);
    text-align: left;

    &.is-product_type:hover,
    &.is-product_type.is-open {
      border-bottom-color: $pink-medium;
    }
    &.is-author:hover,
    &.is-author.is-open {
      border-bottom-color: $green-medium;
    }
    &.is-period:hover,
    &.is-period.is-open {
      border-bottom-color: $red-medium;
    }
    &.is-style:hover,
    &.is-style.is-open {
      border-bottom-color: $yellow-medium;
    }
    &.is-material:hover,
    &.is-material.is-open {
      border-bottom-color: $blue-medium;
    }
    &.is-production_origin:hover,
    &.is-production_origin.is-open {
      border-bottom-color: $purple-medium;
    }
    &.is-dimension:hover,
    &.is-dimension.is-open {
      border-bottom-color: $petrol-medium;
    }
  }
}

.FilterPanelDesktop__filters-label {
  padding-left: 40px;
  @include f-serif;
  font-size: rem(15px);
  line-height: rem(17px);
  color: #929292;
}
.FilterPanelDesktop__bottom-row {
  padding: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.FilterPanelDesktop__mn-logo {
}

.FilterPanelDesktop__info-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  background-color: $lines;
  @include f-sans;
  font-size: rem(13px);
  line-height: 1;
  position: relative;
  top: -10px;
  margin-left: 36px;

  & > span {
    display: block;
  }
}
.FilterPanelDesktop__autocomplete {
  border-bottom: 1px dotted $gray-min;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.FilterPanelDesktop__input {
  flex: 1 1 auto;
  position: relative;

  & > input {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: 0;

    @include f-serif;
    font-size: rem(15px);
    line-height: rem(35px);
  }
}
.FilterPanelDesktop__search {
  flex: 0 0 auto;
  & > button[type="submit"] {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    padding: 0;
    border: 0;
    background-color: transparent;
    text-align: right;
    & > svg {
      position: relative;
      right: -1px;
      top: 1px;
    }
  }
}
.FilterPanelDesktop__criteria-phrase {
  margin-top: 10px; // Keep 32px gap between baseline and autocomplete bottom border.
  @include f-serif;
  font-size: rem(15px);
  line-height: rem(32px);
  strong {
    font-weight: normal;
  }
}

.FilterPanelDesktop__overlay {
  position: fixed;
  top: 0;
  left: 288px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: flex-end;

  transition: opacity 0.15s ease-in-out;
  &.desktopFiltersOverlay-enter {
    opacity: 0;
  }
  &.desktopFiltersOverlay-enter.desktopFiltersOverlay-enter-active {
    opacity: 1;
  }
}

.FilterPanelDesktop__total-hits {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  color: white;
  @include f-serif;
  font-size: rem(18px);
}

.FilterPanelDesktop__spinner {
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 1;
}
