.FiltersMobile {
}
.FiltersMobile__header {
  background: #fff;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.FiltersMobile__maintitle {
  display: flex;
  height: calc(85px - 14px);
  width: auto;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0 15px;
  @include f-serif;
  font-weight: 400;
  font-size: rem(15px);
  line-height: rem(21px);
  text-align: left;
  color: #000;
  @include breakpoint(768px) {
    padding: 0 40px;
  }
}
.FiltersMobile__maintitle-link {
  display: block;
  padding: 10px;
  margin-left: -10px;
  text-decoration: none;
  color: inherit;
  position: relative;
  top: 6px;
}
.FiltersMobile__maintitle-br {
  @include breakpoint(500px) {
    display: none;
  }
}

.FiltersMobile__active-filters-container {
  display: block;
  padding: 0 15px 14px;
}

.FiltersMobile__toggles {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: $quasi-black;
  background-color: #fff;
}

.FiltersMobile__toggleholder {
  flex: 0 0 18%;

  &.FiltersMobile__toggleholder--center {
    display: flex;
    justify-content: center;
    & + .FiltersMobile__toggleholder--center {
      margin-left: 0;
    }
  }
  &.FiltersMobile__toggleholder--left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
.FiltersMobile__searchicon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  color: $quasi-black;
  cursor: pointer;
  background-color: #fff;

  &:hover,
  &:active {
    border-color: black;
  }
}

.FiltersMobile__filterbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
  padding: 0;
  border-radius: 25px;
  border: 0;
  color: $quasi-black;
  cursor: pointer;
  background-color: #fff;

  @include f-sans;
  // font-size: rem(16px);
  font-size: rem(20px);

  &:hover,
  &:active {
    border-color: black;
  }
}
