.FilterPanelMobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}
.FilterPanelMobile__overlay {
  position: absolute;
  top: 0;
  left: 288px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.FilterPanelMobile__rootcolumn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 288px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
}
.FilterPanelMobile__close {
  position: absolute;
  z-index: 4;
  top: 5px;
  left: calc(288px - 40px);
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}
