.MobileSearch {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.MobileSearch__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  // Take into account the virtual keyboard on mobile.
  @include breakpoint($xsmall) {
    & > * {
      position: relative;
      top: -140px;
    }
  }
}
.MobileSearch__controls {
  position: relative;
  z-index: 1;
}

.MobileSearch__form {
  display: flex;
  height: 70px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.MobileSearch__input {
  flex: 1 1 auto;

  & input {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: 0;
    // I don't like the rounded search input on iOS.
    -webkit-appearance: none;

    @include f-serif;
    font-size: rem(16px);
    line-height: rem(35px);
  }
}
.MobileSearch__search,
.MobileSearch__cancel {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;

  & button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #fff;
    color: #000;
    border: none;
    margin: 0;
    padding: 0;
  }
}
.MobileSearch__search svg {
  position: relative;
  left: -2px;
}
.MobileSearch__cancel svg {
  position: relative;
  right: -3px;
}
