.ProductionOrigins {
  position: absolute;
  top: 0;
  left: 288px;
  z-index: 1;
  height: 100vh;
  box-sizing: border-box;
  background-color: $purple-medium;

  transition: opacity 0.15s ease-in-out;
  &.desktopFilterPanel-enter {
    opacity: 0;
  }
  &.desktopFilterPanel-enter.desktopFilterPanel-enter-active {
    opacity: 1;
  }
}
.ProductionOrigins__scrollable {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.ProductionOrigins__double-col {
  display: block;
  box-sizing: border-box;
  width: 288px;
  padding: 0;
  margin: 0;
  text-align: left;

  color: black;
  list-style: none;
}
.ProductionOrigins__col-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ProductionOrigins__double-col button {
  display: block;
  width: 100%;
  padding: 15px 20px 15px 50px;
  margin: 0;
  position: relative;
  @include f-sans;
  font-size: rem(15px);
  line-height: rem(24px);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-align-last: left;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  &.is-selected {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.7);
      height: 6px;
      width: 6px;
      border-radius: 50%;
    }
  }
}
.ProductionOrigins__double-col ul ul button {
  &:hover,
  &.is-selected {
    color: white;
  }
}
.ProductionOrigins__name {
  display: block;
  font-weight: 600;
  text-align: left;

  &.is-selected {
    font-weight: 700;
  }
}
.ProductionOrigins__label {
  display: block;
  text-align: left;
}
.ProductionOrigins__objcount {
  margin-left: 5px;
  font-size: rem(10px);
}

.ProductionOrigins__illustrations {
  position: fixed;
  top: 0;
  left: calc(288px + 450px);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  background-color: $yellow-medium;

  img {
    display: block;
    width: 130px;
    mix-blend-mode: multiply;
  }
}
.ProductionOrigins__col-item:hover .ProductionOrigins__illustrations {
  opacity: 1;
}
