.ProductTypes {
  position: absolute;
  top: 0;
  left: 288px;
  z-index: 1;

  transition: opacity 0.15s ease-in-out;
  &.desktopFilterPanel-enter {
    opacity: 0;
  }
  &.desktopFilterPanel-enter.desktopFilterPanel-enter-active {
    opacity: 1;
  }
}
.ProductTypes__col1 {
  width: 288px;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $pink-light;
  color: black;
  list-style: none;
}
.ProductTypes__col1-item {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  margin-bottom: 5px;

  & ~ .ProductTypes__col1-item {
    padding-top: 32px;
  }
}
.ProductTypes__col1-subitems,
.ProductTypes__col1-subitem,
.ProductType__col2-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ProductTypes__col1-subitem {
  margin-bottom: 5px;
}

.ProductTypes__col1 button {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 50px;
  margin: 0;
  position: relative;
  @include f-sans;
  font-size: rem(15px);
  line-height: rem(18px);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-align: left;
  border-right: 4px solid transparent;

  &:hover {
    background-color: #ffcecb;
  }
  &.is-selected {
    font-weight: normal;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.7);
      height: 6px;
      width: 6px;
      border-radius: 50%;
    }
  }
  &.has-children.is-hovered {
    border-right-color: $pink-medium;
  }
}
.ProductTypes__col1-chevron {
  display: none;
  stroke: inherit;
  float: right;
  position: relative;
  top: 6px;
  right: 10px;
  .has-children & {
    display: block;
  }
}
.ProductTypes__col1-set {
  display: block;
  font-weight: normal;
  padding: 10px 10px 10px 50px;
  margin: 0;
  @include f-sans;
  font-size: rem(15px);
  line-height: rem(18px);
  & span {
    border-bottom: 1px solid black;
  }
}
.ProductTypes__col1 ul button span {
  border: 0;
}
.ProductTypes__objcount {
  margin-left: 5px;
  font-size: rem(10px);
}

.ProductType__col2 {
  position: absolute;
  top: 0;
  left: 288px;
  height: 100vh;
  width: 288px;
  background-color: $pink-medium;
  padding-left: 0;
  box-sizing: border-box;

  // transition: opacity 0.15s ease-in-out;
  // &.desktopFilterPanel-enter {
  //   opacity: 0;
  // }
  // &.desktopFilterPanel-enter.desktopFilterPanel-enter-active {
  //   opacity: 1;
  // }
}

.ProductType__col2-item {
  margin-bottom: 5px;
  padding-top: 40px;

  button {
    padding-left: 50px;
  }

  & ~ .ProductType__col2-item {
    padding-top: 0;
  }
}
