.StylesMobile {
}

.StylesMobile__header {
  background-color: $yellow-medium;
}
.StylesMobile__back-button {
  -webkit-tap-highlight-color: #ffe183;
}
.StylesMobile .FilterPanelMobile__close {
  -webkit-tap-highlight-color: #ffe183;
}
.StylesMobile__col-title {
}
