.AuthModal {
  padding: 50px 0;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  @include breakpoint(760px) {
    padding: 35px 100px 60px;
  }
}
.AuthModal__loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  z-index: 9;
}
.AuthModal__action-default {
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint(760px) {
    flex-flow: row nowrap;
    align-items: center;
  }
}

.AuthModal__default-label {
  @include f-sans;
  font-size: rem(30px);
  line-height: rem(45px);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-bottom: 65px;
  margin-right: 40px;
  @include breakpoint(760px) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.AuthModal__default-buttons {
  width: 190px;
}
.AuthModal__default-top-button {
  margin-bottom: 20px;
  @include breakpoint(760px) {
    margin-bottom: 40px;
  }
}

/* Login dialog */

.AuthModal__action-login {
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint(760px) {
  }
}
.AuthModal__login-form {
}
.AuthModal__login-fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
.AuthModal__login-legend {
  margin: 0;
  padding: 0;
  @include f-sans;
  font-size: rem(30px);
  line-height: rem(45px);
  margin-bottom: 25px;
}

.AuthModal__login-input {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 1px solid #373737;
}

.AuthModal__login-submit.AuthModal__login-submit {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 140px;
}

.AuthModal__error-msg {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  position: relative;
  border-radius: 3px;
  background-color: #b7abff;
  color: #000;
  @include f-sans;
  font-size: rem(13px);
  line-height: rem(16px);

  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
    background-color: #b7abff;
  }
}
