.has-uninitialized-BetaWelcome .BetaWelcome {
  display: block;
}
.has-initialized-BetaWelcome .BetaWelcome {
  display: none;
}

.BetaWelcome {
  background-color: $quasi-black;
  color: #fff;

  position: fixed;
  width: 100%;
  height: calc(100vh - 256px);
  z-index: -1;

  .BetaWelcome__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    margin: 0 30px;
    height: 100%;
    @include breakpoint($small-up) {
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  .BetaWelcome__intro {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
      padding: 0;
    }
    @include breakpoint($small-up) {
      max-width: 730px;
      margin: 0 auto;
    }

    @include f-serif;
    font-size: rem(20px);
    line-height: rem(28px);
    @include breakpoint($small) {
      font-size: rem(30px);
      line-height: rem(45px);
    }
    @include breakpoint($medium-up) {
      font-size: rem(45px);
      line-height: rem(60px);
    }
  }

  .BetaWelcome__logo {
    flex: 0 0 auto;
    margin-top: 30px;
    @include breakpoint($small-up) {
    }
  }

  .BetaWelcome__purple {
    color: $purple;
  }

  .BetaWelcome__salmon {
    color: $salmon;
  }

  .BetaWelcome__bottom {
    margin-bottom: rem(30px);
    @include breakpoint($small-up) {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(60px);
    }
  }
  .BetaWelcome__arrow-container {
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include breakpoint($small-up) {
      display: block;
      height: auto;
      margin-right: calc(((100vw - (60px * 2)) - 730px) / 2);
    }
  }
  .BetaWelcome__aparte {
    flex: 0 1 auto;

    @include f-sans;
    color: $purple;
    font-size: rem(15px);
    line-height: rem(22px);

    @include breakpoint($small-up) {
      width: 475px;
      font-size: rem(20px);
      line-height: rem(27px);
    }
  }
}
