.CenteredImage {
  @extend %article-grid;
  margin: 0;
  padding: 0;
}

.CenteredImage__img {
  display: block;
  width: 100%;
  grid-column: main;
  @include breakpoint($medium-up) {
    grid-column: 6 / 14;
  }
}
.CenteredImage__figcaption {
  @extend %image-caption;
  grid-column: main;
  @include breakpoint($medium-up) {
    grid-column: 6 / 14;
  }
}

.CenteredImage.CenteredImage--full-width {
  .CenteredImage__img {
    grid-column: 1 / -1;
  }
  .CenteredImage__figcaption {
    @include breakpoint($medium-up) {
      grid-column: 3 / -3;
    }
    @include breakpoint($a-xxlarge-up) {
      grid-column: 4 / -4;
    }
  }
}
