.CenteredImage {
  @extend %article-grid;
  padding: 0;
  margin: 80px 0;
  @include breakpoint($a-xxlarge-up) {
    margin: 100px 0;
  }
}

.CenteredImage__img {
  display: block;
  width: 100%;
  grid-column: main;
  @include breakpoint($medium-up) {
    grid-column: 6 / 11;
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 6 / 13;
  }
}
.CenteredImage__figcaption {
  @extend %image-caption;
  grid-column: main;
  @include breakpoint($medium-up) {
    grid-column: 6 / 11;
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 6 / 13;
  }
}

.CenteredImage.CenteredImage--full-width {
  margin: 0;
  .CenteredImage__img {
    grid-column: 1 / -1;
  }
  .CenteredImage__figcaption {
    @include breakpoint($medium-up) {
      grid-column: 3 / -3;
    }
    @include breakpoint($a-xxlarge-up) {
      grid-column: 4 / -4;
    }
  }
}
