.Definition {
  @extend %article-grid;
  position: relative;
  z-index: 0;

  margin: 80px 0;
  @include breakpoint($a-xxlarge-up) {
    margin: 100px 0;
  }

  @extend %rich-text;
  @include f-serif;
  font-size: rem(18px);
  line-height: 145%;
  font-style: italic;
  & p {
    margin: 0;
  }

  &.on-dark-bg {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.Definition + .Definition {
  margin-top: -40px;
}

.Definition__inner {
  grid-column: main;
  @include breakpoint(768px) {
    grid-column: 2 / 12;
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 4 / 11;
  }

  position: relative;
  margin: 0;

  & dt,
  & dd {
    margin: 0;
    padding: 0;
    display: inline;
  }
  & dt {
    color: $a-or-fond-clair;
    margin-right: 5px;
  }
  .on-dark-bg & dt {
    color: $a-or-fond-noir;
  }
}

// We are using <blockquote> to markup definitions :(
// Because we can't get Quill to output custom tags right now.
%definition-blockquote {
  margin-left: 0;
  padding-left: 0;
  margin-top: 40px;
  @include f-serif;
  font-style: italic;

  & strong {
    color: $a-or-fond-clair;
  }
  .on-dark-bg & dt {
    color: $a-or-fond-noir;
  }
}
