.DoubleColText {
  @extend %article-grid;
  position: relative;
  margin: 80px 0;
  @include breakpoint($a-xxlarge-up) {
    margin: 100px 0;
  }
}

.DoubleColText__container {
  grid-column: main;
  @include breakpoint($medium-up) {
    grid-column: 3 / -3;
    columns: 2;
    column-gap: calc(100% / 11);
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 4 / -4;
  }

  @extend %rich-text;
}

.DoubleColText__container blockquote {
  @extend %definition-blockquote;
}
