.DoubleColText {
  @extend %article-grid;
  position: relative;
  z-index: 0; // Because overlap with halos.
  margin: 80px 0;
  @include breakpoint($a-xxlarge-up) {
    margin: 100px 0;
  }

  &.on-dark-bg {
    margin-bottom: 0;
    padding-bottom: 80px;
  }
}
:not(.on-dark-bg)+.DoubleColText.on-dark-bg {
  z-index: initial;
  @include dark-margin-top(80px);
}

.DoubleColText__container {
  grid-column: main;
  @include breakpoint(768px) {
    grid-column: 3 / -3;
    columns: 2;
    column-gap: calc(100% / 11);
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 4 / -4;
  }

  @extend %rich-text;
}

.DoubleColText__container blockquote {
  @extend %definition-blockquote;
}
