.Embed {
  @extend %article-grid;
  position: relative;
  z-index: 0;
  margin: 80px 0;
  
  @include breakpoint($a-xxlarge-up) {
    margin: 100px 0;
  }
  
  &.on-dark-bg {
    @include dark-margin-top(80px);
    @include dark-margin-bottom(80px);
  
    @include breakpoint($a-xxlarge-up) {
      @include dark-margin-top(100px);
      @include dark-margin-bottom(100px);
    }
  }
}

.Embed__container {
  grid-column: main;
  @include breakpoint(768px) {
    grid-column: 4 / -4;
  }
  
  @include breakpoint($a-xxlarge-up) {
    grid-column: 6 / 13;
  }

  // Fallback if JS 'FitVids' function isn't initialized.
  & > iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}

.Embed__inner {
  position: relative;
  padding-bottom: calc((16/9) * 100%);
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}