.GenericGrid {
  @extend %article-grid;
}

.GenericGrid--3-cols .GenericGrid__item {
  grid-column: main;
  @include breakpoint($medium-up) {
    &:nth-child(1n) {
      grid-column: 3 / 6;
    }
    &:nth-child(2n) {
      grid-column: 7 / 10;
    }
    &:nth-child(3n) {
      grid-column: 11 / 14;
    }
  }
  @include breakpoint($a-xxlarge-up) {
    &:nth-child(1n) {
      grid-column: 4 / 7;
    }
    &:nth-child(2n) {
      grid-column: 8 / 11;
    }
    &:nth-child(3n) {
      grid-column: 12 / 15;
    }
  }
}

.GenericGrid--2-cols .GenericGrid__item {
  grid-column: main;
  @include breakpoint($medium-up) {
    &:nth-child(1n) {
      grid-column: 3 / 8;
    }
    &:nth-child(2n) {
      grid-column: 9 / -3;
    }
  }
  @include breakpoint($a-xxlarge-up) {
    &:nth-child(1n) {
      grid-column: 4 / 9;
    }
    &:nth-child(2n) {
      grid-column: 10 / -4;
    }
  }
}

.GenericGrid__figure {
  margin: 0;
  padding: 0;
}

.GenericGrid__figcaption {
  @extend %image-caption;
}

.GenericGrid__item-image {
  display: block;
  width: 100%;
}

.GenericGrid__item-body {
  @extend %rich-text;
}
