.Heading2 {
  @extend %article-grid;
  counter-increment: heading2-counter;
  padding: 0;
  margin: 130px 0 60px;
  position: relative;
  z-index: 0;
  @include breakpoint(768px) {
    margin: 120px 0 50px;
  }
  @include breakpoint($medium-up) {
    margin: 200px 0 80px;
  }
  @include breakpoint($a-xxlarge-up) {
    margin: 250px 0 120px;
  }

  :not(.on-dark-bg) + &.on-dark-bg {
    padding-top: 130px;
    &:before {
      display: none;
    }
    @include breakpoint(768px) {
      padding-top: 120px;
    }
    @include breakpoint($a-xxlarge-up) {
      padding-top: 250px;
    }
  }

  &.on-dark-bg {
    @include dark-margin-top(130px);
    @include dark-margin-bottom(60px);
    @include breakpoint(768px) {
      @include dark-margin-top(200px);
      @include dark-margin-bottom(100px);
    }
    @include breakpoint($a-xxlarge-up) {
      @include dark-margin-top(250px);
      @include dark-margin-bottom(120px);
    }
  }

  &:not(.on-dark-bg) .has-decorative-bg {
    top: -550px !important;
  }
}

.Heading2__counter {
  display: block;
  grid-column: main;
  text-align: center;
  @include f-sans;
  font-style: normal;
  font-weight: normal;

  font-size: rem(18px);
  line-height: 130%;

  @include breakpoint(768px) {
    grid-column: 1 / 3;
    position: relative;
    top: 20px; // Alignement optique sur la baseline du titre.
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 3 / 4;
    text-align: left;
    position: relative;
    top: 20px; // Alignement optique sur la baseline du titre.
    left: -1rem;
  }
}

.Heading2__counter-index {
  // color: $a-gris-fonce;
  &::after {
    content: counter(heading2-counter);
  }
}
.Heading2__counter-count {
  color: #acacac;
  &::before {
    content: " | " counter(heading2-total-counter);
  }
}

.Heading2__title {
  display: block;
  @include f-sans;
  font-style: normal;
  font-weight: 400;
  font-size: rem(30px);
  line-height: 145%;
  text-align: center;
  grid-column: main;

  @include breakpoint(768px) {
    grid-column: 3 / -5;
    font-size: rem(40px);
    line-height: 130%;
    text-align: left;
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 4 / -8;
  }
}
