.HighlightedText {
  @extend %article-grid;
  position: relative;
  z-index: 0;

  margin: 80px 0;
  @include breakpoint($a-xxlarge-up) {
    margin: 100px 0;
  }

  &.on-dark-bg {
    & .HighlightedText__inner::before {
      background-color: $a-or-fond-noir;
    }
    @include dark-margin-top(80px);
    @include dark-margin-bottom(80px);
    
    @include breakpoint($a-xxlarge-up) {
      @include dark-margin-top(100px);
      @include dark-margin-bottom(100px);
    }
  }
}
:not(.on-dark-bg) + .HighlightedText.on-dark-bg {
  @include dark-margin-top(50px);
}

.HighlightedText__inner {
  grid-column: main;
  @include breakpoint(768px) {
    grid-column: 3 / 12;
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 4 / 11;
  }

  position: relative;
  padding-left: 20px;

  @extend %rich-text;
  font-size: rem(26px);
  line-height: 145%;
  & p {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 8px;
    width: 2px;
    left: 0;
    background-color: $a-or-fond-clair;
  }
}
