.Nav {
    position: fixed;
    top: var(--Nav-position-top, 15px);
    right: var(--Nav-position-right, 15px);
    z-index: 5;

    @include breakpoint(768px) {
        top: var(--Nav-position-top, 30px);
        right: var(--Nav-position-right, 27px);
    }
    @include breakpoint($large-up) {
        top: var(--Nav-position-top, 40px);
        right: var(--Nav-position-right, 40px);
    }
    @include breakpoint($a-xxlarge-up) {
        right: var(--Nav-position-right, 50px);
    }
}

@keyframes nav-fade-in {
    from {
        opacity: 0;
    }
}

@keyframes nav-slide-over {
    from {
        transform: translateX(10%);
    }
}

@media(hover: hover) {
    .Nav a:hover {
        color: white;
    }
}

.Nav__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    mix-blend-mode: multiply;
    animation: nav-fade-in 200ms both;
    backdrop-filter: grayscale(100%);
}

.Nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    margin: 0;
    padding: 0;
    
    @include breakpoint(768px) {
        display: grid;
        grid-template-columns: 1fr [content-start] repeat(5, minmax(0, 1fr)) [content-end]
    }
    @include breakpoint(1024px) {
        grid-template-columns: repeat(5, minmax(0, 1fr)) [content-start] repeat(5, minmax(0, 1fr)) [content-end]
    }
}
.Nav__container[aria-hidden='true'] {
    display: none;
}
.Nav__content {
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow-y: auto;
    background-color: #3338BA;
    animation: nav-fade-in 400ms 200ms both, nav-slide-over 400ms 200ms both;
    @include breakpoint(768px) {
        grid-column: content;
        display: grid;
        grid-template-columns: 1fr [textzone-start] repeat(4, minmax(0, 1fr)) [textzone-end]
    }
}
.Nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 125px;
    background-color: #3338BA;
    border-radius: 50px;
    border: 0;
    color: white;
    @include f-sans;
    font-style: normal;
    font-weight: 400;
    font-size: rem(18px);
    line-height: 163.41%;
    font-feature-settings: 'pnum' on, 'onum' on;
    cursor: pointer;
}

.Nav__button img {
    margin-right: 5px;
    display: block;
    position: relative;
    top: 2px;
}

.Nav__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: white;
    border: 1px solid #3338BA;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9;
    animation: nav-fade-in 400ms 400ms both;

    & svg {
        display: block;
    }

    @include breakpoint(756px) {
        top: 30px;
        right: 27px;
    }

    @include breakpoint($large-up) {
        top: 40px;
        right: 40px;
    }
}
.Nav__layout {
    color: white;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
    @include breakpoint(768px) {
        grid-column: textzone;
        align-items: flex-start;
    }
}
.Nav__top {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.Nav__footer {
    flex: 0 0 auto;
    padding: 55px 0;
    text-align: center;
    & img {
        display: inline-block;
        margin-right: 6px;
        position: relative;
        top: 2px;
    }
}
.Nav__mn {
    @include f-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'onum' on;
}
.Nav__info-link {
    display: block;
    margin-bottom: 7px;
    text-decoration: none;
    @include f-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 200%;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #A4B8EC;
}

.Nav__destination {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 45px;
    // &:first-child {
    //     margin-top: 57px;
    // }
    @include breakpoint(768px) {
        text-align: left;
    }
}
.Nav__destination-title {
    display: block;
    padding: 10px; // Increase target size.
    @include f-serif;
    font-style: italic;
    font-weight: 400;
    font-size: rem(38px);
    line-height: 131%;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #A4B8EC;
    text-decoration: none;
    @include breakpoint(768px) {
        position: relative;
        left: -10px;
    }

    &.is-active {
        color: white;
    }
}
.Nav__destination-sections {
    margin: -10px 15px 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    // column-gap: 10px;
    // row-gap: 0;
    @include breakpoint(768px) {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin: 0;
    }
}
.Nav__destination-section {
    padding: 8px 15px 7px 25px; // Increase target size.
    @include f-sans;
    font-style: normal;
    font-weight: 400;
    font-size: rem(15px);
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #A4B8EC;
    text-decoration: none;
    flex: 0 0 auto;
    @include breakpoint(768px) {
        line-height: 100%;
        position: relative;
        padding-left: 15px;
        left: -15px;
        &:nth-child(odd) {
            grid-column: 1 / 2;
        }
        &:nth-child(even) {
            grid-column: 2 / -1;
        }
        .Nav__destination-section-linebreak + & {
            grid-column: 1 / 2;
        }
        .Nav__destination-section-linebreak + & + & {
            grid-column: 2 / -1;
        }
        &.is-full-width {
            grid-column: 1 / -1;
        }
    }
    &.is-active {
        color: white;
        position: relative;
        &:before {
            content: '';
            display: block;
            height: 14px;
            width: 14px;
            position: absolute;
            left: 3px;
            top: 9px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.43304 0.657457C7.24386 0.456298 6.92742 0.446588 6.72626 0.635769C6.5251 0.82495 6.51539 1.14138 6.70458 1.34254L7.43304 0.657457ZM12.3596 7.35564C12.5488 7.5568 12.8652 7.56651 13.0664 7.37733C13.2676 7.18815 13.2773 6.87171 13.0881 6.67055L12.3596 7.35564ZM6.70383 12.7152C6.51465 12.9163 6.52436 13.2328 6.72552 13.4219C6.92668 13.6111 7.24311 13.6014 7.43229 13.4002L6.70383 12.7152ZM13.0873 7.38715C13.2765 7.18599 13.2668 6.86956 13.0656 6.68038C12.8645 6.4912 12.5481 6.50091 12.3589 6.70207L13.0873 7.38715ZM0.5 6.50888C0.223858 6.50888 -4.49255e-08 6.73274 0 7.00888C4.49255e-08 7.28502 0.223858 7.50888 0.5 7.50888L0.5 6.50888ZM12.2239 7.50888C12.5 7.50888 12.7239 7.28502 12.7239 7.00888C12.7239 6.73273 12.5 6.50888 12.2239 6.50888L12.2239 7.50888ZM6.70458 1.34254L12.3596 7.35564L13.0881 6.67055L7.43304 0.657457L6.70458 1.34254ZM7.43229 13.4002L13.0873 7.38715L12.3589 6.70207L6.70383 12.7152L7.43229 13.4002ZM0.5 7.50888L12.2239 7.50888L12.2239 6.50888L0.5 6.50888L0.5 7.50888Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }
}

.Nav__destination-section-linebreak {
    flex-basis: 100%;
    height: 0;
    @include breakpoint(768px) {
        display: none;
    }
}



