.SingleColText {
  @extend %article-grid;
  position: relative;
  z-index: 0;
  margin: 80px 0;
  @include breakpoint($a-xxlarge-up) {
    margin: 100px 0;
  }

  &.on-dark-bg {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.SingleColText__container {
  grid-column: main;
  @include breakpoint(768px) {
    grid-column: 2 / -2;
  }
  @include breakpoint($medium-up) {
    grid-column: 6 / -4;
  }
  @include breakpoint($a-xxlarge-up) {
    grid-column: 7 / -5;
  }

  @extend %rich-text;
}

.SingleColText__container blockquote {
  @extend %definition-blockquote;
}
