.MySelections {
  position: relative;
  padding: 50px 0;
  @include breakpoint(760px) {
    padding-top: 100px;
  }
  background-color: #141414;
  color: #fff;

  --selections-list-text-color: #fff;
}

.MySelections__header {
  color: #fff;
  grid-row: 1;
  @include breakpoint(600px) {
    grid-area: 1 / right;
  }

  & h1 {
    margin: 0;
    padding: 0;
    @include f-sans;
    font-size: rem(30px);
    line-height: rem(38px);
    font-weight: normal;
  }
}

.MySelections__header-buttons {
  margin-top: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.MySelections__button {
  flex: 0 0 auto;
  margin-right: 10px;
}

/* The default state when the user isn't authenticated. */
.MySelections__unauthenticated {
  @extend %selections-grid;
  margin-top: 30px;
  margin-bottom: 30px;

  & .MySelections__blank-slate {
    grid-area: span 2 / left;
    display: none;
    @include breakpoint(1024px) {
      display: block;
    }
  }
}

.MySelections__auth-panel {
  @include breakpoint(1024px) {
    grid-area: auto / right;
  }
}
.MySelections__auth-panel-title {
  font-weight: normal;
  @include f-sans;
  font-size: rem(30px);
  line-height: rem(41px);
  grid-area: left;
  margin: 0;
  @include breakpoint(1024px) {
    grid-area: auto / right;
  }
}
.MySelections__auth-panel-buttons {
  grid-area: auto / right;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  max-width: 180px;
  @include breakpoint(1024px) {
    max-width: 350px;
    flex-flow: row nowrap;
  }
  & button:first-child {
    margin-bottom: 25px;
    @include breakpoint(1024px) {
      margin-bottom: 0;
      margin-right: 25px;
    }
  }
}

.MySelections__list-item {
  @include breakpoint(600px) {
    &:nth-child(odd) {
      grid-area: auto / left;
      margin-top: -30px;
    }
    &:nth-child(even) {
      grid-area: auto / right;
      margin-top: calc(65px + 30px);
    }
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(2) {
      margin-top: 0px;
      @include breakpoint(1024px) {
        margin-top: -20px;
      }
      @include breakpoint(1200px) {
        margin-top: -90px;
      }
    }
  }
}
