%selections-grid {
  --selection-list-ext-gutter: 15px;
  margin: 0 var(--selection-list-ext-gutter);
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-columns: none;
  grid-auto-rows: auto;
  grid-row-gap: 50px;

  @include breakpoint(600px) {
    display: grid;
    --selection-list-ext-gutter: 40px;
    grid-template-columns: repeat(9, 1fr 40px) 1fr;
    grid-template-areas: ". left left left left left left left gutter gutter gutter right right right right right right right .";
    grid-auto-rows: auto;
    grid-row-gap: 0;
  }

  @include breakpoint(1780px) {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.SelectionsList {
  @extend %selections-grid;
}

.SelectionsListItem {
  grid-row: auto;
}
@include breakpoint(600px) {
  .SelectionsListItem:nth-child(odd) {
    grid-area: auto / left;
    margin-top: calc(65px + 30px);
  }
  .SelectionsListItem:nth-child(even) {
    grid-area: auto / right;
    margin-top: -30px;
  }
  .SelectionsListItem:nth-child(2) {
    margin-top: 0;
  }
}

.SelectionsListBlankSlate {
  color: #fff;
  @include f-sans;
  font-size: rem(30px);
  line-height: rem(45px);
  font-weight: normal;
  @extend %selections-grid;
}
.SelectionsListBlankSlate__new,
.SelectionsListBlankSlate__label-heart {
  display: block;
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.SelectionsListBlankSlate__buttons,
.SelectionsListBlankSlate__top-left,
.SelectionsListBlankSlate__bottom-left {
  @include breakpoint(600px) {
    grid-area: auto/left;
  }
}

.SelectionsListBlankSlate__new {
  margin-bottom: 40px;
}
.SelectionsListBlankSlate__label-heart {
  & svg {
    margin-left: 10px;
  }
}

.SelectionsListBlankSlate__right {
}

.SelectionsListBlankSlate__header.SelectionsListBlankSlate__header {
  @include breakpoint(600px) {
    grid-area: auto/right;
    margin-bottom: 60px;
  }
  position: static;
}
.SelectionsListBlankSlate__illu {
  max-width: 100%;
  @include breakpoint(600px) {
    grid-area: auto/right;
  }
}

.SelectionsList__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, 30px);
}
